.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  max-width: 1140px;
  max-width: 800px;
}

.form__container__one {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 15px;
}

.form__header {
  font-size: 40px;
}
