@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.headerHero__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #ececec;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
  overflow: hidden;
}

li,
a,
button,
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #385170;
  text-decoration: none;
}

.header__logo {
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin-right: auto;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #ff7070;
}

.headerHero__button {
  padding: 9px 25px;
  background-color: rgba(159, 211, 199, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.headerHero__button:hover {
  background-color: rgba(159, 211, 199, 0.8);
}

.heroSection {
  background-color: #142d4c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.heroSection h1 {
  font-family: "Inter", sans-serif;
  color: #ececec;
  font-weight: 700;
  font-size: 40px;
}
